.loginButton{
    height:53px;
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    width: 20%;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 58px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 0px;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.logoutButton{
    height:53px;
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    width: 20%;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 48px;
    padding-left: 10px;
    margin-left: -30px;
    margin-right: -100px;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.loginFormWrapper{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin-left: 630px;
}
.loginPage{
    background-image: url("./images/login_background.jpg");
    background-color: aliceblue;
}
.navigatonBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.navigatonBar li{
    float: left;
}
.navigatonBar li a{
    height:33px;
}
.navigatonBar li a:hover{
    background-color: cornflowerblue;
}
.searchButton{
    cursor: pointer; /* Pointer/hand icon */
    display: inline; /* Make the buttons appear below each other */
    width: 198px;
    background-color: cornflowerblue;
    color: white;
    padding: 4px 48px;
    padding-left: 10px;
    margin: 0;
    margin-left: 1125px;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.searchField{
    width: 200px;
    padding: 5px 50px;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 1120px;
    box-sizing: border-box;
}
.searchLi{
    margin-top: 0px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.loginSubmit{
    width: 111%;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.loginInput{
    width: 100%;
    padding: 12px 50px;
    margin: 8px 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password]{
    width: 100%;
    padding: 12px 50px;
    margin: 8px 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}